database/source/*.db
database/source/*.sql
database/source/*.sqlite
.env
.env.production
.env.development
alembic.ini
.venv
.idea
out

# Файлы переводов
l10n/*/LC_MESSAGES/*.mo
l10n/*/LC_MESSAGES/*.mo~

# Резервные копии
l10n/*/LC_MESSAGES/*.po~
l10n/templates/*.pot~

# Временные файлы
l10n/*/LC_MESSAGES/.#*

plugins/custom/**/

logs

.ecosystem.key